{% extends "grave/base.html" %}
{% block  content%}

{% for stone in gravestones %}
    <article class="media content-section">
    <div class="media-body">
        <h2 class="stone-name">{{ stone.name }}</h2>
        <h3 class="stone-classrace">{{stone.race}} {{stone.charclass}}</h3>
        <p class="stone-content">{{ stone.enscription }}</p>
        <div class="stone-metadata">
        <small class="text-muted">Stone created on {{ stone.date_created|date:'F d, Y' }}
            by <a class="mr-2" href="#">{{stone.createdby}}</a></small>
        </div>
    </div>
    </article>
{% endfor %}

{% endblock content%}
